@keyframes comein {
	0% {
		transform: translate3d(0, -2rem, 0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}
.comein {
	animation-name: comein;
	animation-duration: 1s;
	@for $i from 1 through 30 {
		&:nth-child(#{$i}) {
			animation-delay: #{$i * 10}ms;
		}
	}
}